.grid{
	padding-top: 19rem;
	padding-bottom: 3rem;
	display: grid;
	grid-template-areas: 
	"foto foto foto  info info passo passo"
	"foto foto foto  info info passo passo"
	"foto foto foto  info info passo passo"
	"foto foto foto  info info passo passo"
	"foto foto foto  info info passo passo"
	"foto foto foto  info info passo passo"
	"foto foto foto  info info passo passo"
	"foto foto foto  info info passo passo"
	"foto foto foto  info info passo passo"
	;
	
	grid-template-rows: 7rem 3rem 3rem;
	grid-template-columns: 22rem 4rem 4rem;
	height: 75vh;
	
	
	
	}
	
	.border{
	
		/* border: 1px solid black; */
	
	
	}
	
	
	
	
	
	
	header {
	
		grid-area: foto;
		
		
		
		}
		
		
		div#texto_info{
		
		grid-area: info;
		
		
		}
		
		
		div#texto_info ul{

			list-style-type: initial;
			padding-left: 2rem;
			font-size: 2rem;



		}



		
		div#texto_pasos{
		
		
		grid-area: passo;
		
		}


		div#texto_pasos ol{
			padding-left: 2rem;
			list-style-type: auto;

			font-size: 2rem;

		}